{% extends 'logictree/base.html' %}

{% load staticfiles %}

{% block 'title' %}
	Newton Raphson
{% endblock 'title' %}

{% block 'content' %}
	<div id="div_contenido">
		<div class="container">
			<p class="texto_titulo">Metodo de Newton Raphson</p>
			<hr class="lineaDeSeparacion">
			<form method="get">
				<div class="form-input">
					<p class="nombre_input">F(x)</p>
					<input id="i_funcion" type="text" placeholder="" class="funcion">
				</div>
				<div class="form-input">
					<p class="nombre_input">X0</p>
					<input id="i_x0" type="text" placeholder="" class="decimal">
				</div>
				<div class="form-input">
					<p class="nombre_input">Error de tolerancia</p>
					<input id="i_er" type="text" placeholder="" class="decimal">
				</div>
				<div class="form-input">
					<p class="nombre_input">Resultado</p>
					<input id="i_resultado" type="text" placeholder="" disabled="true">
				</div>
			</form>
			<button type="submit" id="btnCalcular" name="btnCalcular" value="Calcular">
			<button type="submit "id="btnLimpiar" class="button" name="Limpiar">
		</div>
		<div class="container">
			<p class="inline titulo_tabla1">I</p>
			<p class="inline titulo_tabla2">Raíz</p>
			<p class="inline titulo_tabla2">a</p>
			<p class="inline titulo_tabla2">b</p>
			<p class="inline titulo_tabla2">Error</p>
			<div id="div_tabla">

			</div>
		</div>
		<div class="container">
			<div class="link_container">
				<a href= {% static 'logictree/pdf/' %} target="blank" class="button" >Explicación del método de Newton Raphson</a>
			</div>
		</div>
		<div class="container">

		</div>
	</div>
{% endblock 'content' %}

{% block 'scripts' %}
	<script type="text/javascript" src= {% static 'logictree/scripts/newtonraphson.js' %} ></script>
{% endblock 'scripts' %}
