{% extends 'logictree/base.html' %}

{% load staticfiles %}

{% block 'title' %}
	Simpson 3/8
{% endblock 'title' %}

{% block 'content' %}
	<div id="div_contenido">
		<div class="container">
			<p class="texto_titulo">Metodo de Sinpson 3/8</p>
			<hr class="lineaDeSeparacion">
			<form method="get">
				<div class="form-input">
					<p class="nombre_input">F(x)</p>
					<input type="text" placeholder="" class="funcion">
				</div>
				<div class="form-input">
					<p class="nombre_input">a</p>
					<input type="text" placeholder="" class="decimal">
				</div>
				<div class="form-input">
					<p class="nombre_input">b</p>
					<input type="text" placeholder="" class="decimal">
				</div>
				<div class="form-input">
					<p class="nombre_input">n</p>
					<input type="text" placeholder="" class="decimal">
				</div>
				<div class="form-input">
					<p class="nombre_input">Resultado</p>
					<input type="text" placeholder="" disabled="true">
				</div>
			</form>
			<input type="submit" id="btnCalcular" name="btnCalcular" value="Calcular">
		</div>
		<div class="container">
			<div class="link_container">
				<a href= {% static 'brainture/pdf/simpson38.pdf' %} target="blank" class="button" >Explicación del método de Simpson 3/8*</a>
			</div>
		</div>
		<div class="container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/FWqWacjmAFk" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
{% endblock 'content' %}
